@charset "UTF-8";
html,body {
    font-family: Microsoft YaHei, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(255, 255, 255);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul,li,p,h2 {margin: 0;padding: 0;list-style: none;}
input, button {border: 0 none;border-radius: 0;outline: none;}
a {text-decoration:none;color: #000000;}
a:visited {text-decoration:none;color: #000000;}
a:hover{text-decoration:none;color: #000000;}
a:active  {text-decoration:none;color: #000000;}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
em {font-style:normal}

.loading-animation {
    width: 20px;
    margin: 25px auto 0;
}

.sp {width: 20px;height: 20px;clear: both;}

.sp-circle {
    border: 4px rgb(255, 181, 174) solid;
    border-top: 4px rgba(212,0,0,1) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.fnt32 {font-size: 32px;}
.fnt34 {font-size: 34px;}
.fnt36 {font-size: 36px;}
.fnt38 {font-size: 38px;}


input.form-input {border:0;background: #ffffff;margin: 0;padding: 0;}

.robot_select-panel .van-sidebar-item {font-size:28px;font-family:Microsoft YaHei;font-weight:400;color:rgba(71,71,71,1);border: 0}
.robot_select-panel .van-sidebar-item--select, .robot_select-panel .van-sidebar-item--select:active {background-color: transparent;color:rgba(5,173,142,1);}

.robot-tabs .van-tabs--line .van-tabs__wrap{height:80px;}
.robot-tabs .van-hairline--top-bottom::after {border: 0;border-bottom: 4px solid rgb(231, 236, 237);}
.robot-tabs .van-tab {line-height:72px;}
.robot-tabs .van-tab span {font-size:28px;font-weight:400;font-family: Microsoft YaHei;}
.robot-tabs .van-tab.van-tab--active .van-tab__text {font-weight: bold}

/*.robot_pull-refresh .van-pull-refresh {height: calc(100vh - 409px);overflow-y: auto}*/

.form-select {height:50px;border:2px solid rgba(204,204,204,1);border-radius:6px;background-color: #ffffff;padding: 0 12px;position: relative;}
.form-select .text {font-size: 24px;font-family:PingFang SC;font-weight:400;color:rgba(51,51,51,1);line-height:34px;margin-top: 8px;display: inline-block}
.form-select .icon {
    width: 20px;
    height: 50px;
    fill: currentColor;
    overflow: hidden;
    display: table-cell;
    float: right;
    margin-left: 10px;
    transition: .3s;
    transform:rotate(0deg);
}
.form-select .icon.open {transform:rotate(180deg);transition: .3s;}

.van-button:active::before {
    opacity: 1
}
::-webkit-scrollbar {display:none}

/*.strategy-main-card .van-tab {}*/

.strategy-main-card .van-tab__text--ellipsis {float: left;width: 100%;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.strategy-main-card .van-tab__text--ellipsis {font-size: 28px;font-family: Microsoft YaHei;font-weight: 400;padding: 0;line-height: 48px;}
.strategy-main-card .van-tab__text--ellipsis p {-webkit-margin-after:0;-webkit-margin-before:0}
.strategy-main-card.van-tabs--card>.van-tabs__wrap {height: 52px;width: 460px;margin: auto;}
.strategy-main-card .van-tabs__wrap .van-tabs__nav--card {margin: 0;border-radius: 6px;border: 0;height: 52px;padding: 4px;overflow: hidden}
.strategy-main-card .van-tabs__nav--card .van-tab {border-radius: 6px;border-right: 0;padding: 0;display: block;}

div.invitation-tabs .van-tabs--line .van-tabs__wrap {height:80px;}
div.invitation-tabs .van-hairline--top-bottom::after {border: 0;border-bottom: 3px solid rgba(231,236,237,1);}
div.invitation-tabs .van-tab span {font-size:28px;font-weight:400;line-height:72px;font-family: Microsoft YaHei;}

div.invitation-child-tabs .van-tabs--line .van-tabs__wrap{height:102px;}
div.invitation-child-tabs .van-tabs__nav {padding-left: 14px;display: inline-block}
div.invitation-child-tabs .van-tab {padding: 0 40px;float: left}
div.invitation-child-tabs .van-tab span {font-size:28px;font-weight:400;line-height:106px;font-family:Microsoft YaHei;}
div.invitation-child-tabs .van-tabs__line {padding: 0 10px;}
div.invitation-child-tabs .van-hairline--top-bottom::after, div.invitation-child-tabs .van-hairline-unset--top-bottom::after {border: 0;border-bottom: 2px solid rgba(231,236,237,1);}


.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
    position: absolute;
}
.slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}


.finished-txt {font-size: 20px;font-family: Microsoft YaHei;font-weight: 400;line-height: 28px;color: #8CA1A9;opacity: 1;}
.finished-img {width: 200px;margin: auto;display: flex;flex-direction: column;}
.finished-img img {width: 64px;margin: auto}
.finished-img span {font-size: 20px;font-family: Microsoft YaHei;font-weight: 400;line-height: 24px;color: #469b9d;opacity: 1;}
.van-loading__text {font-size: 20px;}
.van-loading__spinner {width: 20px;height: 20px;}
.overlay-custom {background: rgba(0, 0, 0, 0.3);z-index: 99999;}


:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
.win__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes winBounceIn {
    from,
    60%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        -webkit-transform: scale3d(0.99, 0.99, 0.99);
        transform: scale3d(0.99, 0.99, 0.99);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes winBounceIn {
    from,
    60%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        -webkit-transform: scale3d(0.99, 0.99, 0.99);
        transform: scale3d(0.99, 0.99, 0.99);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.win__bounceIn {
    -webkit-animation-duration: calc(1s * 0.5);
    animation-duration: calc(1s * 0.5);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.5);
    animation-duration: calc(var(--animate-duration) * 0.5);
    -webkit-animation-name: winBounceIn;
    animation-name: winBounceIn;
}

.activation-auto-panel .activation-auto-panel_checkbox .van-checkbox__label {margin-left: 8px;float: left;}