<% layout('/layouts/default.html', {title: '公告表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">${text('公告表管理')}</div>
			<div class="box-tools pull-right">
				<% if(hasPermi('ticket:notice:edit')){ %>
					<a href="${ctx}/ticket/notice/form" class="btn btn-default btnTool" title="${text('新增公告表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${notice}" action="${ctx}/ticket/notice/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('标题')}：</label>
					<div class="control-inline">
						<#form:input path="title" class="form-control width-200"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	shrinkToFit: false,
	columnModel: [
		{header:'${text("标题")}', name:'title', index:'a.title', width:500, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/ticket/notice/form?id='+row.id+'" class="btnList" data-title="${text("编辑公告")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("添加日期")}', name:'createDate', index:'a.create_cate', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('ticket:notice:edit')){ %>
				actions.push('<a href="${ctx}/ticket/notice/form?id='+row.id+'" class="btnList" title="${text("编辑公告")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/ticket/notice/delete?id='+row.id+'" class="btnList" title="${text("删除公告")}" data-confirm="${text("确认要删除该公告吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>