<% layout('/layouts/default.html', {title: '用户提币记录管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('用户提币记录管理')}
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${withdrawal}" action="${ctx}/ticket/withdrawal/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('订单编码')}：</label>
					<div class="control-inline">
						<#form:input path="orderNo" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户昵称')}：</label>
					<div class="control-inline">
						<#form:input path="customUser.nickName" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("订单编码")}', name:'orderNo', index:'a.order_no', width:150, align:"left", frozen:true},
		{header:'${text("用户昵称")}', name:'customUser.nickName', index:'a.user_code', width:150, align:"left"},
		{header:'${text("金额")}', name:'amount', index:'a.amount', width:150, align:"left"},
		{header:'${text("手续费")}', name:'fee', index:'a.fee', width:150, align:"left"},
		// {header:'${text("审核用户编码")}', name:'auditUserCode', index:'a.audit_user_code', width:150, align:"left"},
		{header:'${text("审核用户名称")}', name:'auditUserName', index:'a.audit_user_name', width:150, align:"left"},
		{header:'${text("审核状态")}', name:'auditState', index:'a.audit_state', width:150, align:"center"},
		{header:'${text("审核日期")}', name:'auditDate', index:'a.audit_date', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>